@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@1;100;200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');

body {
    font-family: 'Ysabeau', sans-serif;
    color: #0E2372; 
}

#inicio {
    font-size: 30px;
    padding: 60px 150px 20px 150px;
    font-weight: 600;
    color:#0E2372;
}

header {
    background-color: #FFDC00;
    color:white; 
    text-align: center;
    height: 230px;
}

h1{
    font-size: 60px;
    padding: 50px 0px 10px 0px;
    margin: 10px; 
    font-family: 'Lora', serif;
    font-weight: 600;
    color:#B41818;
}

h2{
    font-size: 30px;
    margin: 0px 20px 0px 20px;
    padding: 10px 20px 30px 20px;
    font-family: 'Lora', serif;
    font-weight: 400;
    color:#B41818;
}

section{
    text-align: center;
}

#palermo{
    font-size: 60px;
    color:#0E2372;
}

.info-text {
    line-height: 25px;
}

.info-text-final {
    line-height: 25px;
    padding: 20px 20px 30px 50px;
}

h3{
    font-size: 38px;
    font-family: 'Lora', serif;
    padding: 50px 0px 10px 0px;
    color: #0E2372;
}

h5{
    font-size: 40px;
    font-family: 'Lora', serif;
    padding: 50px 0px 0px 0px;
    color: #0E2372;
    font-weight: 500;
}

.graf-palermo {
    padding:10px; 
    margin: 5px;
}

.graf1 {
    padding:10px; 
    margin: 5px;
}

.graf2 {
    padding:10px; 
    margin: 5px;
}

p{
    font-size: 20px;
    padding: 10px 100px 0px 100px;
}

small {
    color: #B41818;
    padding: 10px 10px 20px 10px;
}

footer {
    font-size: 0.1em;
    background-color:#B41818;
    color:#FFDC00; 
    text-align: center;
    height: 100px;
}

footer p {
    font-size: 14px;
    padding: 10px 0px 5px 0px;
}

a {
    color:#FFDC00; 
}

#chart_1 svg, #chart_2 svg, #chart_3 svg {
    max-width: initial;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}


